﻿@model IEnumerable<Application.Comments.Models.CommentViewModel>

@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comments</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.EmployeeID">Create New</a>
</p>

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <partial name="_Comment" for=@item />
        }
    </div>
</div>
