﻿@model IEnumerable<Application.Employees.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
    Application.Employees.Models.EmployeeViewModel firstEmployee = Model.ToList().FirstOrDefault();
}

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@firstEmployee.Name"></label>
            </th>
            <th>
                <label asp-for="@firstEmployee.Family"></label>
            </th>
            <th>
                <label asp-for="@firstEmployee.JoinedCompanyDate"></label>
            </th>
            <th>
                <label asp-for="@firstEmployee.SalaryAmount"></label>
            </th>
            <th>
                <label asp-for="@firstEmployee.SalaryAmountTypeText"></label>
            </th>
            <th>
                <label asp-for="@firstEmployee.JobTitle"></label>
            </th>
            <th>
                <label asp-for="@firstEmployee.DepartmentName"></label>
            </th>
            <th>
                <label asp-for="@firstEmployee.LineManagerName"></label>
            </th>
            <th>
                <label asp-for="@firstEmployee.Address"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <label>@item.Name</label>
            </td>
            <td>
                <label>@item.Family</label>
            </td>
            <td>
                <label>@item.JoinedCompanyDate</label>
            </td>
            <td>
                <label>@item.SalaryAmount</label>
            </td>
            <td>
                <label>@item.SalaryAmountTypeText</label>
            </td>
            <td>
                <label>@item.JobTitle</label>
            </td>
            <td>
                <label>@item.DepartmentName</label>
            </td>
            <td>
                <label>@item.LineManagerName</label>
            </td>
            <td>
                <label>@item.Address</label>
            </td>
            <td>
                <a asp-controller="Comments" asp-action="Index" asp-route-id="@item.ID">Comments</a>
            </td>
        </tr>
        }
    </tbody>
</table>