﻿@model IEnumerable<Application.Employees.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
}
<h2>Search</h2>
<table width="100%">
    <tbody>
        <tr>
            <td><label>Name </label></td>
            <td>@Html.TextBox("Name")</td>
            <td><label>Family </label></td>
            <td>@Html.TextBox("Family")</td>
        </tr>
        <tr>
            <td><label>Department </label></td>
            <td>@Html.DropDownList("DepartmentID", new SelectList(ViewBag.Departments, "ID", "Name", 0))</td>
            <td><label>Job </label></td>
            <td>@Html.DropDownList("JobID", new SelectList(ViewBag.Jobs, "ID", "Title", 0))</td>
            <td><button id="SearchBtn">Search</button></td>
        </tr>
    </tbody>
</table>

<h2>Results</h2>

<div id="Results">
    <partial name="_Employees"/>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#SearchBtn").click(function () {
                var searchFilter = {
                    Name: $("#Name").val(),
                    Family: $("#Family").val(),
                    JobID: $("#JobID").val(),
                    DepartmentID: $("#DepartmentID").val()
                }
                console.log(JSON.stringify(searchFilter));

                $.ajax({
                    url: "/Home/Search",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "html",
                    traditional: true,
                    data: JSON.stringify(searchFilter),
                }).done(function (data) {
                    console.log(data);

                    $('#Results').html(data);
                });

            });
        });
    </script>
}

